body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(150, 140, 140);
}

.container {
    text-align: center;
    background-color: hsl(0, 30%, 88%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 5px solid #333; /* Optional: add a border */
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
